# Python
venv/
__pycache__/
*.pyc

# Datasets
dataset/raw/
dataset/test/
dataset/reference/
dataset/arena/
# YOLO training datasets
train/
valid/
test/

# Training outputs
runs/
results/

# IDE
.vscode/
.idea/

# Python checkpoints
*.pth

# Ignore all YOLO weights EXCEPT best.pt
*.pt
!best.pt

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# YOLO Test Images
test_images/

# Arena Dataset
dataset/arena/yolo_dataset/

# YOLO Results
runs/